<div style="background-color: #49bcff;color: white;font-weight:600;font-size: 24px;padding: 20px">Amos Cloud</div>
<div style=" margin: 0 auto; padding: 20px;">
    <div style="font-size: 18px;"><strong>亲爱的 {{ username }}，</strong></div>
    <div>恭喜您成功注册成为Amos Cloud网盘的一员！感谢您选择我们的服务。我们很高兴能够为您提供安全、高效的云存储解决方案，让您更便捷地管理和分享您的文件。</div>
    <div>如果您有任何问题或建议，欢迎联系我们。</div>
    <div>祝您在Amos Cloud网盘上有愉快的体验！</div>
    <div>祝好，<br>Amos Tang<br>{{ current_time }}</div>
</div>
<div style="margin: 0 20px 20px 20px;border-top: 1px solid #747474;">
    <div style="color: #747474;">此为系统邮件，请勿回复</div>
    <div style="color: #747474;">Copyright © 2024 Amos Tang.All rights reserved.</div>
</div>