<div style="background-color: #49bcff;color: white;font-weight:600;font-size: 24px;padding: 20px">Amos Cloud</div>
<div style=" margin: 0 auto; padding: 20px;">
    <div style="font-size: 18px;"><strong>尊敬的 {{ username }}，</strong></div>
    <div>感谢您使用Amos Cloud网盘。为了确保您的账户安全，我们需要进行身份验证。</div>
    <div>您的验证码是：<strong style="color: red">{{ verification_code }}</strong></div>
    <div>请在网页上输入此验证码以完成验证。该验证码将在 <strong>5分钟</strong> 后失效。</div>
    <div>如果您没有尝试进行任何操作，请忽略此邮件。</div>
    <div>如果您有任何疑问或需要帮助，请随时联系我们。</div>
    <div>谢谢！<br>Amos Tang<br>{{ current_time }}</div>
</div>
<div style="margin: 0 20px 20px 20px;border-top: 1px solid #747474;">
    <div style="color: #747474;">此为系统邮件，请勿回复</div>
    <div style="color: #747474;">Copyright © 2024 Amos Tang.All rights reserved.</div>
</div>